# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.yaml text eol=lf
run-advice text eol=lf
run-local text eol=lf
