<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jms="http://www.springframework.org/schema/jms"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
							http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

<!-- 
#############
!!!!!!!!!!!!!
Used when running the application in local Tomcat
Add src/test/resources and src/main/assembly/config directories to classpath

THIS FILE IS NOT USED IN PRODUCTION
!!!!!!!!!!!!!
#############
-->
	
	<!-- Import the app context template for use in locale tomcat -->
	<import resource="classpath:applicationContext.xml.orig"/>
	
	<!-- Configure local ActiveMQ broker used on local tomcat -->
	
	<bean id="amqConnectionFactoryBrokerTEST" class="org.apache.activemq.ActiveMQConnectionFactory">
	    <property name="brokerURL" value="tcp://idporten-utv3:61616"/>
	</bean>
	<!-- A cached connection to wrap the ActiveMQ connection for broker --> 
	<bean id="cachedConnectionFactoryBrokerTEST" class="org.springframework.jms.connection.CachingConnectionFactory">
	    <property name="targetConnectionFactory"><ref bean="amqConnectionFactoryBrokerTEST" /></property>
		<property name="sessionCacheSize"><value>100</value></property>
	</bean>
	
	<!-- and this is the message listener container for broker -->
	<bean id="jmsContainerInstanceBrokerTEST" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
   		<property name="connectionFactory" ref="cachedConnectionFactoryBrokerTEST"/>
   		<property name="destination" ref="destination"/>
   		<property name="messageListener" ref="messageListener" />
		<property name="concurrentConsumers" value="${jms.concurrentConsumers}" />
		<property name="maxConcurrentConsumers" value="${jms.maxConcurrentConsumers}" />
		<property name="sessionTransacted" value="true" />	
	</bean>
</beans>